# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @soojeongChoiKr @amongDOHEE and @minwoo95 will be requested for
# review when someone opens a pull request.

* @soojeongChoiKr @amongDOHEE @minwoo95
